<ion-content [fullscreen]="true">

  <div id="container" class="background">
    <div class="bg-primary"></div>
    <form (ngSubmit)="login()" [formGroup]="credentials">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div class="ion-text-center"> <br>
              <img src="./assets/img/jatanegara.png" alt="Jata Negara" width="100%">
            </div>
            <ion-card>
              <ion-card-content>
                <ion-card-title color="primary" class="login-title">Daftar Masuk</ion-card-title>
                <div padding>
                  <ion-label>E-mel</ion-label>
                  <ion-item>
                    <ion-icon name="bookmark-outline" slot="end"></ion-icon>
                    <ion-input type="email" placeholder="Emel Anda" formControlName="email" required></ion-input>
                  </ion-item>
                  <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
                    <span *ngIf="email.errors?.required">Email is required</span>
                    <span *ngIf="email.errors?.email">Email is invalid</span>
                  </div>
                  <ion-label>Kata Laluan</ion-label>
                  <ion-item>
                    <ion-icon name="lock-open-outline" slot="end"></ion-icon>
                    <ion-input type="password" placeholder="Kata Laluan" formControlName="password" required></ion-input>
                  </ion-item>
                  <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
                    <span *ngIf="password.errors?.required">Password is required</span>
                    <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
                  </div>
                  <br>
                  <ion-button mode="ios" size="medium" type="submit" expand="block" [disabled]="credentials.invalid">Log Masuk</ion-button>
                  <br>
                  <div class="ion-text-center">
                    <ion-router-link color="primary" href="/forgot">Lupa Kata Laluan?</ion-router-link>
                  </div>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    <div style="display: flex; align-items: flex-end; margin-top:2rem; justify-content: center;">
      Tiada akaun?
      <ion-router-link color="primary" (click)="openRegister()">&nbsp;Daftar Sekarang
      </ion-router-link>
    </div>
  </div>
</ion-content>
