ion-item {
  border-radius: 19px;
  margin-bottom: .9rem;
}

ion-card {
  border-radius: 2.3rem;
  margin: 1.8rem 1.5rem;
  background-color: whitesmoke;
}

.background {
  background-image: url(../../../assets/img/bg-login.png);
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.login-title {
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

ion-item {
  box-shadow: 0 1px 3px 0 var(--ion-color-medium);
}

ion-router-link {
  font-weight: bold;
}

ion-button {
  --border-radius: 19px;
}

.bg-primary {
  background: linear-gradient(var(--ion-color-primary), #a8b6c5fc);
  ;
  height: 45%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  box-shadow: 0 1px 3px 0 var(--ion-color-medium);
}

ion-item.item-inner {
  --border-style: none !important;
}
