<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="ios">Status Aduan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="content" class="background">
    <div #map3 id="map3"></div>
  </div>

  <div class="card-body">
    <ion-content class="content">
      <div style="margin: 10px 30px;">
        <ion-text class="ion-text-center" color="light">
          <h4>{{aduan.address}}</h4>
        </ion-text>
        <ion-item>
          <ion-label position="stacked" color="primary">Keterangan Aduan :</ion-label>
          <ion-textarea readonly value="{{aduan.detail}}" rows="4">
          </ion-textarea>
        </ion-item>
        <ion-thumbnail>
          <img src="{{image}}" />
        </ion-thumbnail>
        <br>
        <!-- <ion-button (click)="openEditModal()" expand="block" color="primary" shape="round">
          Kemaskini
        </ion-button> -->
        <!-- <ion-button *ngIf="!isAdmin" (click)="onDeleteAduan()" expand="block" color="danger" shape="round">
          Hapus
        </ion-button> -->
        <br>
      </div>
      <div class="butiran">
      </div>
    </ion-content>
  </div>
</ion-content>
