ion-item {
  border-radius: 1rem;
  margin-bottom: .7rem;
}

ion-toolbar {
  --background: transparent no-repeat fixed center;
  --color: var(--ion-color-primary);
  position: absolute;
  top: 5px;
}

#map3 {
  top: 70px;
  height: 40%;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
}

.card-body {
  background: linear-gradient(var(--ion-color-primary), #a8b6c5fc);
  height: 55%;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  position: absolute;
}

.background {
  background: url(../../../assets/img/bg-forgot.png) no-repeat center/cover fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

ion-thumbnail {
  width: 100%;
  height: fit-content;
  --border-radius: 1rem;
}

ion-content {
  .content {
    --background: transparent no-repeat fixed center;
    margin: 0;
    padding: 10px 30px 10px;
  }
}

ion-label {
  color: orange;
  font-weight: 500;
}
