ion-toolbar {
  --background: transparent no-repeat fixed center;
  --color: var(--ion-color-primary);
  position: absolute;
  top: 5px;
}

ion-tab-bar {
  ion-tab-button.selesai:focus {
    color: var(--ion-color-success);
  }
  ion-tab-button.perhatian:focus {
    color: var(--ion-color-secondary);
  }
  ion-tab-button.ditolak:focus {
    color: var(--ion-color-danger);
  }
}
