<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/admin/dashboard">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">Profil Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="profileForm" class="container">
    <div id="container" class="header">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <div class="avatar">
              <img src="../../assets/img/default_icon.jpeg" alt="">
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="input">
              <ion-item>
                <ion-input formControlName="name" placeholder="Nama Penuh" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="email" placeholder="Alamat Emel" type="text" disabled></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="organisasi" placeholder="Nama Organisasi" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="jawatan" placeholder="Nama Jawatan" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="doc_no" placeholder="No Pengenalan" type="number" disabled></ion-input>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="telefon" placeholder="No Telefon" type="text"
                  (keypress)="numericOnly($event)" maxlength="11"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="password" placeholder="Kata Laluan Baru"
                  type="{{showPass ? 'password' : 'text' }}" autocomplete="off">
                </ion-input>
              </ion-item>
            </div>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="error">
              <span *ngIf="password.errors?.required">Kata laluan diperlukan</span>
              <span *ngIf="password.errors?.minlength">Kata laluan mestilah lebih 8 patah perkataan <br></span>
              <span *ngIf="password.errors?.pattern">Kata laluan mestilah dalam aksara</span>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="confirmpassword" placeholder="Sah Kata Laluan" type="password"
                  autocomplete="off"></ion-input>
              </ion-item>
            </div>
            <div *ngFor="let error of error_messages.confirmpassword">
              <div class="error"
                *ngIf="profileForm.get('confirmpassword').hasError(error.type) && (profileForm.get('confirmpassword').dirty || profileForm.get('confirmpassword').touched)">
                {{ error.message }}
              </div>
            </div>
            <div class="error"
              *ngIf="!profileForm.get('confirmpassword').errors && profileForm.hasError('passwordNotMatch') && (profileForm.get('confirmpassword').dirty || profileForm.get('confirmpassword').touched)">
              Sila masukkan kata laluan yang sama
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card-body">
      <ion-grid fixed>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text color="primary">
              <p>Sila pastikan maklumat peribadi anda telah diisi dengan lengkap</p>
            </ion-text>
            <ion-button (click)="updateProfile()" [disabled]="profileForm.invalid" mode="ios" shape="round">
              Kemas Kini
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
