<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button href="/admin-management">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">{{isEditMode ? 'Kemaskini':'Daftar'}} Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="regAdminForm">
    <div id="container" class="header">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="9">
            <div class="input">
              <ion-item>
                <ion-input formControlName="name" placeholder="Nama Penuh" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-select formControlName="organisasi" placeholder="Organisasi" interface="action-sheet">
                  <ion-select-option value="JKR">JKR</ion-select-option>
                  <ion-select-option value="KKR">KKR</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="jawatan" placeholder="Jawatan" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-select formControlName="role" placeholder="Peranan" interface="action-sheet">
                  <ion-select-option value="super_admin">Super Admin</ion-select-option>
                  <ion-select-option value="admin">Admin Jalan</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="doc_no" placeholder="No Pengenalan" type="number" {{isEditMode ? 'disabled':''}}></ion-input>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="telefon" placeholder="No Telefon" type="text"
                  (keypress)="numericOnly($event)" maxlength="11"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="email" placeholder="Alamat Emel" type="text" {{isEditMode ? 'disabled':''}}></ion-input>
              </ion-item>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="avatar">
              <img src="../../assets/img/default_icon.jpeg" alt="">
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card-body">
      <ion-grid fixed>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text color="primary">
              <p>Sila pastikan maklumat peribadi anda telah diisi dengan lengkap</p>
            </ion-text>
            <ion-button (click)="submitAdmin()" mode="ios" [disabled]="regAdminForm.invalid" shape="round">
              {{isEditMode ? 'Kemaskini':'Daftar'}}
            </ion-button>
            <ion-button *ngIf="isEditMode" color="danger" (click)="deleteConfirm()" mode="ios"
              [disabled]="regAdminForm.invalid" shape="round">
              Hapus
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
