<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()"
        placeholder="Search for a place" (ionClear)="ClearAutocomplete()"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="getCurrentCoords()" color="primary">
          <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-list [hidden]="autocompleteItems.length === 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </ion-toolbar>

    <!-- <div>Address: {{address}}</div>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div> -->
    <div #map id="map"></div>

    <ion-tab-bar slot="bottom" color-primary>
      <ion-tab-button href="/profile">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/info">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Aduan</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/aduan-list">
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>Status</ion-label>
      </ion-tab-button>

      <ion-tab-button href="/jalan-list">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Hebahan</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
