<ion-content [fullscreen]="true">

  <ion-tabs>
    <ion-toolbar mode="md">
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()"
        placeholder="Search for a place" (ionClear)="ClearAutocomplete()"></ion-searchbar>
      <ion-buttons slot="end">
        <ion-button (click)="getCurrentCoords()" color="primary">
          <ion-icon slot="icon-only" name="locate-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-list [hidden]="autocompleteItems.length === 0">
        <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
          {{ item.description }}
        </ion-item>
      </ion-list>
    </ion-toolbar>

    <div #map id="map"></div>

    <ion-tab-bar slot="bottom" color-primary>
      <ion-tab-button (click)="openProfile()">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Profil</ion-label>
      </ion-tab-button>

      <!-- <ion-tab-button href="/user/create-aduan">
        <ion-icon name="receipt-outline"></ion-icon>
        <ion-label>Aduan</ion-label>
      </ion-tab-button> -->

      <ion-tab-button (click)="openAduanList()">
        <ion-icon name="desktop-outline"></ion-icon>
        <ion-label>Status</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="openHebahan()">
        <ion-icon name="megaphone-outline"></ion-icon>
        <ion-label>Hebahan</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="getInfo()">
        <ion-icon name="information-circle-outline"></ion-icon>
        <ion-label>Info</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="logoutConfirm()">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Keluar</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-button color="warning" size="small" shape="round" expand="block" class="buttondaftar" (click)="routeToAduan()"
      mode="md">Daftar<br>Aduan
      <ion-icon name="receipt-outline" slot="start" style="font-size: 25px;padding-left: 5px;">Daftar Aduan</ion-icon>
    </ion-button>
    <!-- <ion-fab-button class="custom-fab" color="warning" (click)="routeToAduan()">
        <ion-icon name="receipt-outline">Daftar Aduan</ion-icon>
      </ion-fab-button> -->
  </ion-fab>

</ion-content>
