<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backRoute()">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">Status Aduan</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fixed>
  <div id="container" class="background">
    <ion-content class="transparent">

      <ion-list>
        <div *ngFor="let aduan of aduans$|async" (click)="openDetailModal(aduan)">
          <ion-badge *ngIf="aduan.status_code === null || aduan.status_code === 'P'" color="secondary" mode="ios">
            {{aduan.status_desc === null ? 'Dalam Perhatian': aduan.status_desc}}
          </ion-badge>
          <ion-badge *ngIf=" aduan.status_code === 'S'" color="success" mode="ios">{{aduan.status_desc}}
          </ion-badge>
          <ion-badge *ngIf=" aduan.status_code === 'R'" color="danger" mode="ios">{{aduan.status_desc}}
          </ion-badge>
          <ion-card>
            <ion-card-content>
              <ion-card-title>{{aduan.title}}</ion-card-title>
              <span class="text-limit">{{aduan.detail}}</span>
            </ion-card-content>
            <span style="font-size: 10px; float: right;">Lihat Butiran ></span>
          </ion-card>
        </div>
      </ion-list>

    </ion-content>
  </div>
</ion-content>
