<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start" *ngIf="!isModal">
      <ion-button href="/superadmin/dashboard">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title mode="ios">Aduan Selesai</ion-title>

    <ion-buttons slot="end" *ngIf="isModal">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fixed>
  <div id="container" class="background">
    <ion-item *ngIf="isSuperAdmin || isAdmin">
      <ion-datetime (ionChange)="selectBulanTahun($event)" display-format="MMM YYYY" min="2020" max="2099-10-31"
        placeholder="Bulan Tahun">
      </ion-datetime>
    </ion-item>
    <br>
    <ion-content class="transparent">
      <ion-list>
        <br *ngIf="isUser">
        <br *ngIf="isUser">
        <p *ngIf="!haveInfo" class="ion-text-center" style="color:rgb(206, 206, 206)">Tiada maklumat status aduan</p>
        <div *ngFor="let aduan of aduans$|async" (click)="openDetailModal(aduan)">
          <ion-badge *ngIf="aduan.status_code === null || aduan.status_code === 'P'" color="secondary" mode="ios">
            {{aduan.status_desc === null ? 'Dalam Perhatian': aduan.status_desc}}
          </ion-badge>
          <ion-badge *ngIf=" aduan.status_code === 'S'" color="success" mode="ios">{{aduan.status_desc}}
          </ion-badge>
          <ion-badge *ngIf=" aduan.status_code === 'R'" color="danger" mode="ios">{{aduan.status_desc}}
          </ion-badge>
          <ion-card>
            <ion-card-content>
              <span style="color:white; font-size: 13px;">{{aduan.sispaa_id}}</span>
              <ion-card-title>{{aduan.title}}</ion-card-title>
              <i class="text-limit">{{aduan.detail}}</i>
            </ion-card-content>
            <span style="font-size: 10px; float: right; color: black;">Lihat Butiran ></span>
          </ion-card>
        </div>
        <br><br><br>
      </ion-list>

    </ion-content>
  </div>
</ion-content>
