<ion-header class="ion-no-border">
  <ion-toolbar mode="md">
    <ion-buttons slot="start" *ngIf="!isEditMode">
      <ion-button *ngIf="isSuperAdmin" href="/superadmin/dashboard">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAdmin" href="/admin/dashboard">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">{{isEditMode ? 'Kemaskini':'Daftar'}} Jalan</ion-title>
    <ion-buttons slot="end" *ngIf="!isEditMode">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="isEditMode">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="card-body">
    <form [formGroup]="jalanForm">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div padding>

              <label>
                <img [src]="url" alt="" *ngIf="!isEditMode">
                <img src="{{image}}" alt="" *ngIf="isEditMode">
                <ion-input style="display:none" formControlName="image" id="image" type="file"
                  (change)="fileEvent($event)" accept="image/*" *ngIf="!isEditMode"></ion-input>
              </label>
              <ion-label position="floating">Nama Jalan</ion-label>
              <ion-item color="light">
                <ion-input formControlName="name" type="text" placeholder="Nama Jalan"></ion-input>
              </ion-item>
              <ion-label position="floating">Keterangan Jalan</ion-label>
              <ion-item color="light">
                <ion-textarea formControlName="detail" placeholder="Masukkan Keterangan..." type="text"></ion-textarea>
              </ion-item>
              <ion-label position="floating">Status</ion-label>
              <ion-item color="light">
                <ion-input formControlName="status" type="text" placeholder="Nyatakan Status Jalan"></ion-input>
              </ion-item>
              <ion-row>
                <ion-col size="6">
                  <ion-label position="floating">Tarikh Mula</ion-label>
                  <ion-item color="light">
                    <ion-datetime formControlName="start_date" min="2020" max="2099-10-31" placeholder="Pilih">
                    </ion-datetime>
                  </ion-item>
                </ion-col>
                <ion-col size="6">
                  <ion-label position="floating">Tarikh Akhir</ion-label>
                  <ion-item color="light">
                    <ion-datetime formControlName="end_date" min="2020" max="2099-10-31" placeholder="Pilih">
                    </ion-datetime>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-label position="floating">Negeri</ion-label>
              <ion-item color="light">{{jalan.negeri}}
                <ion-select formControlName="negeri" placeholder="Pilih Negeri" interface="action-sheet"
                  (ionChange)="selectDaerah($event)" value="{{jalan.negeri}}">
                  <ion-select-option *ngFor="let negeri of negeris|async; let i = index" [value]="negeri.id">
                    {{negeri.nama_negeri}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-label position="floating">Daerah</ion-label>
              <ion-item color="light">
                <ion-select formControlName="daerah" placeholder="Pilih Daerah" interface="action-sheet"
                  (ionChange)="getResponseParty($event)">
                  <ion-select-option *ngFor="let daerah of daerahs|async; let i = index" [value]="daerah.nama_daerah">
                    {{daerah.nama_daerah}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
              <ion-label position="floating">Pihak Bertanggungjawab</ion-label>
              <ion-item color="light">
                <ion-input formControlName="response_party" type="text" placeholder="Nyatakan Pihak"
                  [value]="res_party"></ion-input>
              </ion-item>
            </div>
            <div padding class="btn-custom">
              <ion-button size="medium" (click)="submitJalan()" [disabled]="jalanForm.invalid" expand="block"
                shape="round" mode="ios">
                {{isEditMode ? 'Kemaskini':'Daftar'}}</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
