<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()" color="light">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" mode="ios">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background bg-custom">
    <div class="content">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <div class="ion-text-center">
              <img src="../../../../../assets/img/berjaya.png" alt="Berjaya" height="130px">
              <h1>BERJAYA</h1>
            </div>
            <br>
            <br>
            <ion-card>
              <ion-card-content align="center">
                <ion-text color="primary">
                  <p innerHtml="{{message}}"></p>
                </ion-text>
              </ion-card-content>
            </ion-card>
            <ion-button size="medium" mode="ios" (click)="closeModal()" expand="block" shape="round" color="light" class="btn-custom">
              Seterusnya
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
