<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backRoute()">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">Profil Pengadu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="profileForm" class="container">
    <div id="container" class="header">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <div class="avatar">
              <label>
                <img [src]="url" alt="">
                <ion-input style="display:none" formControlName="image" id="image" type="file"
                  (change)="fileEvent($event)" accept="image/*"></ion-input>
              </label>
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="input">
              <ion-item>
                <ion-input formControlName="name" placeholder="Nama Penuh" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="email" placeholder="Alamat Emel" type="text" disabled></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-select formControlName="doc_type" placeholder="Jenis Pengenalan" interface="action-sheet" disabled>
                  <ion-select-option value="NRIC">NRIC No</ion-select-option>
                  <ion-select-option value="PASS">Paspot No</ion-select-option>
                  <ion-select-option value="COMP">No Syarikat</ion-select-option>
                  <ion-select-option value="OTH">Lain-lain</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="doc_no" placeholder="No Pengenalan" type="text" disabled></ion-input>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="telefon" placeholder="No Telefon" type="text"
                  (keypress)="numericOnly($event)" maxlength="11"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="password" placeholder="Kata Laluan Baru" type="{{showPass ? 'password' : 'text' }}" autocomplte="off" (ionBlur)="checkpss(this.value)">
                </ion-input>
                <ion-icon slot="end" name="{{showPass ? 'eye-outline' : 'eye-off-outline' }}" (click)='hideShowPassword()'></ion-icon>
              </ion-item>
            </div>
            <div *ngIf="(password.dirty || password.touched) && password.errors" class="error">
              <span *ngIf="password.errors?.required">Kata laluan diperlukan</span>
              <span *ngIf="password.errors?.minlength">Kata laluan mestilah lebih 8 patah perkataan <br></span>
              <span *ngIf="password.errors?.pattern">Kata laluan mestilah dalam campuran huruf dan</span>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="confirmpassword" placeholder="Sah Kata Laluan" type="password"
                  autocomplete="off"></ion-input>
              </ion-item>
            </div>
            <div class="error"
              *ngIf="!profileForm.get('confirmpassword').errors && profileForm.hasError('passwordNotMatch') && (profileForm.get('confirmpassword').dirty || profileForm.get('confirmpassword').touched)">
              Sila masukkan kata laluan yang sama
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card-body">
      <ion-grid fixed>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text color="primary">
              <p>Sila pastikan maklumat peribadi anda telah diisi dengan lengkap</p>
            </ion-text>
            <ion-button (click)="updateProfile()" mode="ios" shape="round">
              Kemas Kini
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
