<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Senarai Pengguna</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Senarai Pengguna</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-button color="primary" size="small" slot="end" routerLink="/create-user">
        Tambah Pengguna
      </ion-button>
    </ion-item>
    <ngx-datatable
      [rows]="users"
      [ngClass]="tableStyle"
      [rowHeight]="'auto'"
      [headerHeight]="50"
      [columnMode]="'force'">
      <ngx-datatable-column name="Bil">
        <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row">
          {{rowIndex+1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Nama" prop="name">
      </ngx-datatable-column>
      <ngx-datatable-column name="Jenis Pengguna" prop="jenis_pengguna"></ngx-datatable-column>
    </ngx-datatable>
  </div>
</ion-content>
