<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/user/dashboard">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">Hebahan Jalan</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="background">
    <ion-content class="transparent">

      <ion-list>
        <ion-card *ngFor="let jalan of jalans$|async" (click)="openDetailModal(jalan)" color="light">
          <ion-grid fixed>
            <ion-row>
              <div class="badge"></div>
              <ion-col size="12">
                <ion-label>
                  <ion-card-title>{{jalan.name}}</ion-card-title>
                  <p>Status: {{jalan.status}}</p>
                </ion-label>
              </ion-col>
            </ion-row>

            <span style="font-size: 10px; float: right;">Lihat Butiran ></span>
          </ion-grid>
        </ion-card>
      </ion-list>

    </ion-content>
  </div>
</ion-content>
