<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backRoute()">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">Hebahan Jalan</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="background">
    <ion-content class="transparent">

      <ion-list>
        <p *ngIf="!haveInfo" class="ion-text-center" style="color:rgb(206, 206, 206)">Tiada maklumat hebahan</p>
        <ion-card *ngFor="let jalan of jalans$|async" (click)="openDetailModal(jalan)" color="light">
          <ion-grid fixed>
            <ion-badge class="badge" color="danger" mode="ios">Ditutup</ion-badge>
            <ion-row>
              <ion-col>
                <ion-label>
                  <ion-card-title>{{jalan.name}}</ion-card-title>
                </ion-label>
                <br>
                <p style="font-size: 10px;">Mula : {{jalan.start_date | date : 'dd MMM yyyy'}}</p>
                <p style="font-size: 10px;">Tamat : {{jalan.end_date | date : 'dd MMM
                  yyyy'}}</p>
              </ion-col>
            </ion-row>
            <ion-row>
              <!-- <ion-col size="4"><p>Status: {{jalan.status}}</p></ion-col> -->
            </ion-row>
            <span style="font-size: 10px; float: right;">Lihat Butiran ></span>
          </ion-grid>
        </ion-card>
      </ion-list>

    </ion-content>
  </div>
</ion-content>
