.bg-primary {
  background: var(--ion-color-primary);
  height: 45%;
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  // box-shadow: 0 1px 3px 0 var(--ion-color-medium);
}

ion-toolbar {
  --background: transparent no-repeat fixed center;
  --color: var(--ion-color-primary);
  position: absolute;
  top: 5px;
}

.donut-chart {
  height: 55%;
  width: 100%;
  border-radius: 50%;
  top: 210px;
  position: absolute;

}


.center-box {
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;

  .circle {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: white;
    margin: 60% auto;
    position: relative;

  }
}

ion-item {
  --background: #3880ff;
  --background-activated: #3880ff;
  --background-activated-opacity: 1;
  --background-focused: #3880ff;
  --background-focused-opacity: 1;
  --background-hover: #3880ff;
  --background-hover-opacity: 1;
  --border-color: #3880ff;
  --border-radius: 10px;
  --border-style: solid;
  --color: #ffffff;
  --color-activated: #3880ff;
  --color-focused: #3880ff;
  --color-hover: #3880ff;
  --detail-icon-color: #989aa2;
  --detail-icon-font-size: 16px;
  --detail-icon-opacity: 1;
  --highlight-color-focused: #0cd1e8;
  --highlight-color-invalid: #f04141;
  --highlight-color-valid: #10dc60;
  --highlight-height: 0px;
  --inner-border-width: 8px;
  --inner-box-shadow: 4px 4px;
  margin: 50px 80px;
  --ripple-color: #1e1e1e;
  --transition: background-color 15ms linear;

  ion-select {
    padding: 0;
  }
}

h1.aduantotal {
  color: #bad3ff;
  margin-top: 140px;
  font-weight: bold;
  font-size: 60px;
  text-shadow:2px 3px 3px black;
  // text-shadow: 2px 3px #FF0000;
}
