<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" *ngIf="!isEditMode">
      <ion-button (click)="backRoute()">
        <ion-icon color="light" slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios" color="light">Statistik Aduan</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-primary">
    <ion-text class="ion-text-center" *ngIf="isJumlahAduan" (click)="openAduanList()">
      <h1 class="aduantotal">{{theTotal}}</h1>
    </ion-text>
    <ion-text class="ion-text-center" *ngIf="isJumlahPengguna || isAduanAgensi">
      <h1 class="aduantotal">{{theTotal}}</h1>
    </ion-text>
  </div>
  <div class="center-box">
    <ion-item>
      <ion-select value="jumlah_aduan" interface="action-sheet" placeholder="Pilih" (ionChange)="selectAduan($event)">
        <ion-select-option value="jumlah_aduan">JUMLAH ADUAN</ion-select-option>
        <!-- <ion-select-option value="jumlah_aduan_bulan">JUMLAH ADUAN (BULANAN)</ion-select-option> -->
        <ion-select-option value="jumlah_aduan_agensi">JUMLAH ADUAN SETIAP AGENSI</ion-select-option>
        <ion-select-option value="jumlah_aduan_pengguna">JUMLAH BILANGAN PENGGUNA</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <div class="circle"></div> -->
    <div id="chartdiv" class="donut-chart">
    </div>
  </div>

</ion-content>
