<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="isSuperAdmin" href="/superadmin/dashboard">
        <ion-icon color="light" slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isAdmin" href="/admin/dashboard">
        <ion-icon color="light" slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios" color="light">Statistik Aduan</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="bg-primary">
    <ion-text color="medium" class="ion-text-center">
      <h1 class="aduantotal">{{aduanTotal}}</h1>
    </ion-text>
  </div>
  <div class="center-box">
    <ion-item>
      <ion-select value="peperoni" interface="action-sheet" placeholder="Pilih" value="jumlah_aduan1">
        <ion-select-option value="jumlah_aduan1">JUMLAH ADUAN</ion-select-option>
        <ion-select-option value="jumlah_aduan2">JUMLAH ADUAN (BULANAN)</ion-select-option>
        <ion-select-option value="jumlah_aduan3">JUMLAH ADUAN SETIAP AGENSI</ion-select-option>
        <ion-select-option value="jumlah_aduan4">JUMLAH BILANGAN PENGGUNA</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <div class="circle"></div> -->
    <div id="chartdiv" class="donut-chart">
    </div>
  </div>

</ion-content>
