ion-toolbar {
  --background: transparent no-repeat fixed center;
  --color: var(--ion-color-primary);
  position: absolute;
  top: 5px;
}

ion-item {
  border-radius: 18px;
}

.input {
  border-radius: 18px;
  background: linear-gradient(#429AE0, white);
  padding: 1px;
  margin-bottom: .7rem;
  margin-right: 10px;
}

.input2 {
  margin-bottom: .7rem;
  margin-right: 10px;
}

.header {
  margin-top: 100px;

  .avatar {
    width: 180px; //40vw
    height: 180px;
    border-radius: 50%;
    margin: 0 0 10px -30px;
    padding: 1rem;
    position: absolute;
    background: linear-gradient(#429AE0, white);
    padding: 1px;

    img {
      display: block;
      border-radius: 50%;
      background-color: #fff;
      padding: 3px;
    }
  }
}

.card-body {
  background: var(--ion-color-light);
  padding: 10px 50px 10px;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  // position: absolute;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;
  box-shadow: 2px -3px 9px -6px black;

}
