<ion-content>
  <div>
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div class="ion-text-center">
            <br><br><br><br><br><br><br>
            <img src="./assets/img/jatanegara.png" alt="Jata Negara" width="50%">
            <br>
            <h3 class="ion-text-center">KEMENTERIAN KERJA RAYA</h3>
            <h1>Selamat Datang</h1>
          </div>
          <br>
          <div class="ion-text-center">
            <ion-button size="medium" expand="round" color="secondary" (click)="toLogin()">START</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
