<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="ios">Hebahan Jalan</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" fixed>
  <div id="container" class="background">
    <!-- <ion-content class="transparent"> -->
    <ion-list>
      <ion-card>
        <ion-card-header>
          <img src="{{image}}" alt="">
        </ion-card-header>
        <ion-card-content>
          <ion-card-title>{{jalan.name}}</ion-card-title>
          <br>
          <ion-label>Status: </ion-label><ion-badge color="danger" mode="ios">{{jalan.status}}</ion-badge>
          <br><br>
          <ion-label>Keterangan: </ion-label><span style="color: lightslategray">{{jalan.detail}}</span>
          <br><br>
          <ion-label>Pihak Bertanggungjawab: </ion-label><span style="color: lightslategray"
            align="justify">{{jalan.response_party}}</span>
            <br>
            <ion-label>Tarikh Mula: </ion-label><span>{{jalan.start_date | date : 'dd MMM yyyy'}}</span><br>
            <ion-label>Tarikh Akhir: </ion-label><span>{{jalan.end_date | date : 'dd MMM yyyy'}}</span><br>
        </ion-card-content>
      </ion-card>
      <div class="ion-text-center">
        <ion-button *ngIf="isAdmin" (click)="openEditModal()" mode="ios" color="primary" shape="round">
          Kemas Kini
        </ion-button>
        <ion-button *ngIf="isAdmin" (click)="deleteConfirm()" mode="ios" color="danger" shape="round">
          Hapus
        </ion-button>
      </div>

    </ion-list>

    <!-- </ion-content> -->
  </div>
</ion-content>
