<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backRoute()">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">Super Admin</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container" class="background">
    <ion-list>
      <ion-card (click)="registerAdmin()">
        <ion-card-content>
          <ion-text color="light">
            <ion-icon size="large" name="person-add"></ion-icon>
            <h3>Daftar Admin</h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <hr>
      <ion-card (click)="openAdminList()">
        <ion-card-content>
          <ion-text color="light">
            <ion-icon size="large" name="people"></ion-icon>
            <h3>Papar Admin Jalan</h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <hr>
      <ion-card (click)="openSuperAdminList()">
        <ion-card-content>
          <ion-text color="light">
            <ion-icon size="large" name="people"></ion-icon>
            <h3>Papar Super Admin</h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
      <hr>
      <ion-card (click)="createJalan()">
        <ion-card-content>
          <ion-text color="light">
            <ion-icon size="large" name="construct"></ion-icon>
            <h3>Daftar Status Jalan</h3>
          </ion-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>
