<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-button href="/login">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode="ios">Daftar Pengadu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="regUserForm" class="container">
    <div id="container" class="header">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <div class="avatar">
              <img src="../../assets/img/default_icon.jpeg" alt="">
            </div>
          </ion-col>
          <ion-col size="12">
            <div class="input">
              <ion-item>
                <ion-input formControlName="name" placeholder="Nama Penuh" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="email" placeholder="Alamat Emel" type="text"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-select formControlName="doc_type" placeholder="Jenis Pengenalan" interface="action-sheet">
                  <ion-select-option value="NRIC">NRIC No</ion-select-option>
                  <ion-select-option value="PASS">Paspot No</ion-select-option>
                  <ion-select-option value="COMP">No Syarikat</ion-select-option>
                  <ion-select-option value="OTH">Lain-lain</ion-select-option>
                </ion-select>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="doc_no" placeholder="No Pengenalan" type="number"></ion-input>
              </ion-item>
            </div>
            <div class="input2">
              <ion-item>
                <ion-input formControlName="telefon" placeholder="No Telefon" type="number"></ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="password" placeholder="Kata Laluan Baru" type="{{showPass ? 'password' : 'text' }}" autocomplete="off">
                </ion-input>
              </ion-item>
            </div>
            <div class="input">
              <ion-item>
                <ion-input formControlName="confirmpassword" placeholder="Sah Kata Laluan" type="password"
                  autocomplete="off"></ion-input>
              </ion-item>
            </div>
            <div *ngFor="let error of error_messages.confirmpassword">
              <div class="error"
                *ngIf="regUserForm.get('confirmpassword').hasError(error.type) && (regUserForm.get('confirmpassword').dirty || regUserForm.get('confirmpassword').touched)">
                {{ error.message }}
              </div>
            </div>
            <div class="error"
              *ngIf="!regUserForm.get('confirmpassword').errors && regUserForm.hasError('passwordNotMatch') && (regUserForm.get('confirmpassword').dirty || regUserForm.get('confirmpassword').touched)">
              Sila masukkan kata laluan yang sama
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="card-body">
      <ion-grid fixed>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text color="primary">
              <p>Sila pastikan maklumat peribadi anda telah diisi dengan lengkap</p>
            </ion-text>
            <ion-button (click)="submitUser()" [disabled]="regUserForm.invalid" mode="ios" shape="round">
              Daftar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </form>
</ion-content>
