ion-toolbar {
  --background: white no-repeat fixed center;
  --color: var(--ion-color-primary);
  position: absolute;
  padding-top: 5px;
}

ion-item {
  border-radius: 18px;
}

.input {
  border-radius: 18px;
  background: linear-gradient(#429AE0, white);
  padding: 1px;
  margin-bottom: .7rem;
}

.input2 {
  margin-bottom: .7rem;
}

.container {
  width: 100%;

  .header {
    margin: 70px 50px 10px;

    .avatar {
      width: 160px; //40vw
      height: 160px;
      border-radius: 50%;
      justify-content: center !important;
      text-align: center;
      margin: 0 auto;
      background: linear-gradient(#429AE0, white);
      padding: 1px;
      margin-bottom: 20px;

      img {
        border-radius: 50%;
        background-color: #fff;
        padding: 3px;
        height: 100%;
        width: 100%;
      }
    }
  }

  .card-body {
    background: var(--ion-color-light);
    padding: 10px 50px 10px;
    width: 100%;
    overflow: hidden;
    // bottom: 0;
    position: absolute;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
    box-shadow: 2px -3px 9px -6px black;

  }
}

.error {
  color: orangered;
  font-size: 10px;
  margin: 1px auto;
}
