<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{aduan.title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div #map3 id="map3"></div>
  <!-- <img src="https://c8.alamy.com/comp/B3MXEK/broken-road-B3MXEK.jpg" alt="Picture"/> -->
  <div class="ion-padding">
    <ion-text>
      <ion-card-title>{{aduan.title}}</ion-card-title>
      <p class="ion-margin-vertical">{{aduan.detail}}</p>
    </ion-text>

    <ion-button (click)="openEditModal()" expand="block" color="primary" shape="round">
      Kemaskini
    </ion-button>
    <ion-button (click)="onDeleteAduan()" expand="block" color="danger" shape="round">
      Hapus
    </ion-button>
  </div>
</ion-content>
