ion-item {
  border-radius: 18px;
  margin-bottom: .7rem;
}

ion-toolbar {
  --background: transparent no-repeat fixed center;
  --color: var(--ion-color-primary);
  position: absolute;
  top: 5px;
}

#map2 {
  height: 65%;
  width: 100%;
}

.card-body {
  background: linear-gradient(var(--ion-color-primary), #b6c0cafc);
  height: 45%;
  width: 100%;
  overflow: hidden;
  bottom: 0;
  position: absolute;
  border-top-left-radius: 2.5rem;
  border-top-right-radius: 2.5rem;

}

ion-button {
  --border-radius: 19px;
}

ion-content {
  .content {
    --background: transparent no-repeat fixed center;
    margin: 0;
    padding: 10px 30px 10px;
  }
}
