<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backRoute()">
        <ion-icon slot="icon-only" name="chevron-back-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- <ion-title>{{isEditMode ? 'Kemaskini':'Daftar'}} Aduan</ion-title> -->
    <ion-buttons slot="end" *ngIf="isEditMode">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <div #map2 id="map2"></div>
    <div class="card-body">
      <ion-content class="content">
        <div style="margin: 10px 30px;">
          <form [formGroup]="aduanForm">
            <ion-grid>
              <ion-row color="primary" justify-content-center>
                <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                  <div padding>
                    <ion-item>
                      <ion-input formControlName="title" type="text" placeholder="Tajuk Aduan" disabled="true" style="color:grey;">
                      </ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-textarea formControlName="detail" type="text" placeholder="Keterangan Aduan">
                      </ion-textarea>
                    </ion-item>
                    <ion-text class="ion-text-center" color="light">
                      <h4>{{address}}</h4>
                    </ion-text>
                    <label>
                      <img [src]="url" alt="">
                      <ion-input style="display:none" formControlName="image" id="image" type="file"
                        (change)="fileEvent($event)" accept="image/*"></ion-input>
                    </label>
                  </div>
                  <br>
                  <div padding>
                    <ion-button color="success" size="medium" [disabled]="aduanForm.invalid" (click)="submitAduan()"
                      expand="block">
                      Seterusnya</ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </form>
        </div>
      </ion-content>
    </div>

  </ion-content>
</ion-content>
